{% extends 'site_functions/base.html' %}

{% block content %}
{% load bootstrap %}


<section id="cronograma">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="texto-centro titulo">V SEMPGAN</h1>
				<h1 class="texto-centro titulo">Programação</h1>
			</div>
		</div>
	</div>
</section>

<section id="arte">
	<br><br>
	<div class="container">
		<h1 class="dia">Quinta-feira: 16 de novembro</h1>
		<hr class="linha">
		<div class="row item">
			<div class="col-md-3 horario"><p>17:00 às 18:00</p></div>
			<div class="col-md-9 paragrafo"><p>Credenciamento</p></div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario"><p>18:00 às 19:00</p></div>
			<div class="col-md-9 paragrafo">
				<p>Conferência de Abertura: <em>Envelhecer no Brasil e no mundo com os avanços científicos e tecnológicos.</em></p>
				<p>Palestrante: <em>Prof. Dr. Ludgleyson Fernandes de Araújo.
Lançamento do livro “Envelhecimento e Práticas Gerontológicas” (Organizadores Ludgleydson Fernandes de Araújo e Cecília Maria Resende Gonçalves de Carvalho).</em></p>
			</div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario"><p>19:00</p></div>
			<div class="col-md-9 paragrafo"><p>Apresentação de atividade artistica</p></div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario">19:30</div>
			<div class="col-md-9 paragrafo">Coquetel de abertura</div>
		</div>
		<br>
		<br>
		<h1 class="dia">Sexta-feira: 17 de novembro</h1>
		<hr class="linha">
		<div class="row item">
			<div class="col-md-3 horario"><p>08:00 às 08:50</p></div>
			<div class="col-md-9 paragrafo">
				<p>Palestra: <em>Estresse oxidativo e envelhecimento celular.</em></p>
				<p>Palestrante: <em>Dra. Maria do Carmo de Carvalho e Martins.</em></p>
			</div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario"><p>08:50 às 09:00</p></div>
			<div class="col-md-9 paragrafo"><p>Período aberto para perguntas.</p></div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario"><p>09:00 às 09:30</p></div>
			<div class="col-md-9 paragrafo"><p>Exposição de produtos naturais.</p></div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario"><p>09:40 às 11:50</p></div>
			<div class="col-md-9 paragrafo">
				<p>Mesa Redonda: <em>Longevidade saudável: influência dos alimentos orgânicos, comportamentos saudáveis e qualidade de vida.</em></p>
				<p>Palestrantes: <em>Prof. Darcet Costa Souza, MSc. Luiza Marly e MSc. Maria da Conceição Lopes Ribeiro.</em></p>
			</div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario"><p>12:00 às 14:30</p></div>
			<div class="col-md-9 paragrafo"><p>Intervalo para almoço<br>Exposição de produtos naturais</p></div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario"><p>14:30 às 15:30</p></div>
			<div class="col-md-9 paragrafo">
				<p>Palestra: <em>O Envelhecimento Sob o olhar do Direito e da Cidadania.</em></p>
				<p>Palestrante: <em>Dra. Maria do Rosário de Fátima e Silva.</em></p>
			</div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario"><p>15:30 às 16:00</p></div>
			<div class="col-md-9 paragrafo"><p>Intervalo</p></div>
		</div>
		<br>
		<div class="row item">
			<div class="col-md-3 horario"><p>16:00 às 18:00</p></div>
			<div class="col-md-9 paragrafo">
				<p>Palestra: <em>Desafios e perspectivas para a longevidade saudável.</em></p>
				<p>Palestrante: <em>Esp. Rejane Martins Prestes, MSc. Pryscila Maria Vieira Mendes e Dra. Alessandra Braga Ribeiro.</em></p>
			</div>
		</div>
		
	</div>
	<br><br>
</section>
{% endblock %}