{% extends 'site_functions/base.html' %}

{% block content %}
{% load static %}

	<section id="apresentacao">
		<div class="div-apresentacao"></div>
	</section>

	<section id="sobre">
		<div class="container">
			<div class="row">
				<h1 class='section_title'>Sobre o Evento</h1>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-lg-12">
					<p class='about'>O SIPPAN é um evento de natureza técnico-científica, realizado anualmente pelo Programa de Pós-graduação em Alimentos e Nutrição (PPGAN) da Universidade Federal do Piauí.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10">
					<p class="about">Em sua terceira edição, o SIPPAN aborda a temática da longevidade e qualidade de vida. Segundo dados da pesquisa de Síntese de Indicadores Sociais realizada em 2016 pelo Instituto Brasileiro de Geografia e Estatística (IBGE), evidencia-se crescimento substancial da proporção de idosos na população brasileira, especialmente na última década.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<p class="about">Este fenômeno não deve ser negligenciado, considerando que o processo do envelhecimento apresenta múltiplas dimensões e desafios para o indivíduo e sociedade. Nesse cenário, o III SIPPAN propõe discussões e reflexões a respeito da longevidade saudável, contemplando as esferas social, política e da saúde.</p>
				</div>
			</div>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
			<br><br><br><br><br><br>
		</div>
	</section>

	<section id="local">
		<div class="container copo">
			<div class="row">
				<h1 id="local-titulo" class='section_title'>Local e Data</h1>
			</div>
			<br>
			<div class="row">
				<h2 id="data-evento">Data: 16 e 17 de novembro de 2017</h2>
				<h2 id="data-evento">Local: Auditório Professor Afonso Sena Gonçalves, Centro de Ciências da Natureza da UFPI / Teresina – PI.</h2>
			</div>
			<div class="row">
				<div class="col-lg-1"></div>
				<div class="col-lg-10">
					<br>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.2813165340353!2d-42.7931523856107!3d-5.058080552793171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e3978ae0c8121%3A0x5641b6abdc051ee7!2sDepartamento+de+Qu%C3%ADmica!5e0!3m2!1spt-BR!2sbr!4v1495031960351" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-lg-1"></div>
			</div>
		</div>
		<br>
		<br>
	</section>

	<!--<section id="palestrantes" class="meu-bloco">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class='section_title'>Palestrantes</h1>
					<div class='line'></div>
				</div>
			</div>

			<br><br>

			<div class="row">
				{% for t in talks %}
				<div class="col-md-4 col-sm-6">
					<div class='thumbnail'>
						<img class="img" src="media/{{t.talk_speaker_photo}}">
						<div class="caption">
							<h3>{{t.talk_speaker}}</h3>
							<h4>{{t.talk_name}}</h4>
							<h5>{{ t.talk_begin }}</h5>
							<p>{{t.talk_description}}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>-->

	<section class="meu-bloco">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class='section_title black'>Realização</h1>
					<div class='line_org'></div>
				</div>
			</div>

			<br><br>

			<div class="row text-center">
				<div class="col-md-4">
					<img class="realizacao" src="{% static 'site_functions/img/realizacao/ufpi.png'%}">
				</div>
				<div class="col-md-4">
					<img class="realizacao" src="{% static 'site_functions/img/realizacao/capes.png'%}">
				</div>
				<div class="col-md-4">
					<img class="realizacao" src="{% static 'site_functions/img/realizacao/PPGAN.png'%}">
				</div>
			</div>
			<br><br>
		</div>
	</section>

{% endblock %}


<!--<section id="cronometro" class="meu-bloco">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class='section_title'>Contagem Regressiva </h1>
				<div class='line_org'></div>
				<br>
				<div id="chronos"></div>
                <script>
                    addchronos(2017, 5, 19, 8, 0, 0);
                </script>
			</div>
		</div>
	</div>
</section>-->

<!--<section id="minicursos" class="meu-bloco">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class='section_title'>Minicursos</h1>
					<div class='line'></div>
				</div>
			</div>
			<br><br>

			<div class="row">
			{% for s in scs %}
				<div class="col-md-4 col-sm-6">
					<div class="thumbnail">

						<img src="media/{{s.short_course_cover}}">
						<div class="caption">
							<h3>{{ s.name }}</h3>
							<p>{{ s.description }}</p>
							<p>{{ s.begin }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
-->