{% extends 'site_functions/base.html' %}

{% block content %}
{% load static %}

	<header class="header_bound">
		<div class="wide">
			<br><br><br><br>
			<div class="row">
				<div class="col-md-8">
					<h1 class="text-center bottom-block" id="hamurz-title">Sipan</h1>
				</div>
			</div>
		</div>
	</header>

    <section id="cronometro" class="meu-bloco">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class='section_title'>Contagem Regressiva </h1>
					<div class='line_org'></div>
					<br>
					<div id="chronos"></div>
                    <script>
                        addchronos(2017, 5, 19, 8, 0, 0);
                    </script>
				</div>
			</div>
		</div>
	</section>

	<section id="sobre" class="meu-bloco">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class='section_title'>Sobre</h1>
					<div class='line'></div>
					<br>
					<p class='about'>Descrição do Evento</p>
				</div>
			</div>
		</div>
	</section>
<!--
	<section id="minicursos" class="meu-bloco">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class='section_title'>Minicursos</h1>
					<div class='line'></div>
				</div>
			</div>
			<br><br>

			<div class="row">
			{% for s in scs %}
				<div class="col-md-4 col-sm-6">
					<div class="thumbnail">

						<img src="media/{{s.short_course_cover}}">
						<div class="caption">
							<h3>{{ s.name }}</h3>
							<p>{{ s.description }}</p>
							<p>{{ s.begin }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>
-->
	<section id="palestrantes" class="meu-bloco">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class='section_title'>Palestrantes</h1>
					<div class='line'></div>
				</div>
			</div>

			<br><br>

			<div class="row">
				{% for t in talks %}
				<div class="col-md-4 col-sm-6">
					<div class='thumbnail'>
						<img class="img" src="media/{{t.talk_speaker_photo}}">
						<div class="caption">
							<h3>{{t.talk_speaker}}</h3>
							<h4>{{t.talk_name}}</h4>
							<h5>{{ t.talk_begin }}</h5>
							<p>{{t.talk_description}}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</section>

	<section class="meu-bloco" id="local">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class='section_title'>Local</h1>
					<div class='line'></div>
				</div>
			</div>
			<br>
  		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.2813165340353!2d-42.7931523856107!3d-5.058080552793171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e3978ae0c8121%3A0x5641b6abdc051ee7!2sDepartamento+de+Qu%C3%ADmica!5e0!3m2!1spt-BR!2sbr!4v1495031960351" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<br />
		</div>
	</section>

	<section class="meu-bloco">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class='section_title black'>Apoiadores</h1>
					<div class='line_org'></div>
				</div>
			</div>

			<br><br>

			<div class="row text-center">
				<div class="col-md-3 sponsor_bound">
					<img src="{% static 'site_functions/img/ufpi.jpg'%}">
				</div>
				<div class="col-md-3">
					<img src="{% static 'site_functions/img/logo_crq.png'%}">
				</div>
				<div class="col-md-3" style='float:right;'>
					<img src="{% static 'site_functions/img/onix.jpg'%}">
				</div>
				<div class="col-md-3">
					<img src="{% static 'site_functions/img/confianca.jpg'%}">
				</div>
			</div>
		</div>
	</section>

{% endblock %}
