{% extends 'site_functions/base_admin.html' %}

{% block content %}
<div class="main-panel" style="background: white;">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Inscritos</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="{% url 'home' %}">
                         Home
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'user_logout' %}">
                          Logout
                      </a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="header">
                          <h4 class="title">Lista De Inscritos (Total de Inscritos: {{max}}) (Inscrições Confirmadas: {{ok}})  (Pagas: {{paid}})</h4>
                      </div>
                      <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                            <thead class="thead" >
                              <tr>
                                <th>Nome</th>
                                <th>Status Do Comprovante</th>
                                <th>Deletar</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for u in users %}
                              {% if not u.had_paid  %}
                              <tr style="background-color: #FFEC84">
                                <td><a href="{% url 'user_detail' user_id=u.id%}">{{ u.name }}</a></td>
                                <td>Análise</td>
                                <td><a href="{% url 'del_user' user_id=u.id %}">Deletar</a></td>
                              </tr>
                              {% endif %}
                              {% endfor %}

                              {% for u in users %}
                              {% if u.had_paid  %}
                              <tr style="background-color: #90FF4D;">
                                <td><a href="{% url 'user_detail' user_id=u.id%}">{{ u.name }}</a></td>
                                <td>Aprovado</td>
                                <td><a href="{% url 'del_user' user_id=u.id %}">Deletar</a></td>
                              </tr>
                              {% endif %}
                              {% endfor %}

                            </tbody>
                          </table>
                      </div>

                      {% if users.has_other_pages %}
                        <ul class='pagination'>
                            {% if users.has_previous %}
                                <li><a href="{% url 'list_users' page=users.previous_page_number %}">&laquo;</a></li>
                            {% else %}
                                <li class='disabled'><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in users.paginator.page_range %}
                                {% if users.number == i%}
                                    <li class='active'><span>{{i}}<span class='sr-only'>(current)</span></span></li>
                                {% else %}
                                    <li><a href="{% url 'list_users' page=i %}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if users.has_next %}
                                <li><a href="{% url 'list_users' page=users.next_page_number %}">&raquo;</a></li>
                            {% else %}
                                <li class='disable'><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                      {% endif %}

                  </div>
              </div>
</div>

{% endblock %}
