{% extends 'site_functions/base_admin.html' %}

{% block content %}
<div class="main-panel" style="background: white;">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Minicursos</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="{% url 'home' %}">
                         Home
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'user_logout' %}">
                          Logout
                      </a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="header">
                          <h4 class="title">Lista De Minicursos</h4>
                      </div>
                      <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                            <thead class="thead" >
                              <tr>
                                <th>Nome</th>
                                <th>Professor</th>
                                <th>Data</th>
                                <th>Número de Inscritos</th>
                                <th>Lista de Inscritos</th>
                                <th>Editar</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for s in scs %}
                              <tr>
                                  <td>{{ s.0.name }}</td>
                                  <td>{{ s.0.professor }}</td>
                                  <td>{{ s.0.begin }}</td>
                                  <td>{{s.1}}</td>
                                  <td><a href="{% url 'list_users_by_sc' short_course_id=s.0.id %}">Inscritos</a></td>
                                  <td><a href="{% url 'edit_short_course' short_course_id=s.0.id %}">Editar</a></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                      </div>
                  </div>
                  <a class="btn btn-primary" href="{% url 'register_short_course'%}">
                      Cadastrar Novo Minicurso
                  </a>
              </div>
</div>

{% endblock %}
