{% extends 'site_functions/base_admin.html' %}

{% block content %}
<div class="main-panel" style="background: white;">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Inscritos</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="{% url 'home' %}">
                         Home
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'user_logout' %}">
                          Logout
                      </a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="header">
                          <h4 class="title">Lista De Inscritos</h4>
                      </div>
                      <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                            <thead class="thead" >
                              <tr>
                                <th>Nome</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for u in sc_u %}
                              {% if u.had_paid  %}
                              <tr style="background-color: #90FF4D;">
                                <td><a href="{% url 'user_detail' user_id=u.id%}">{{ u.name }}</a></td>
                                <td> Aprovado </td>
                              </tr>
                              {% else %}
                              <tr style="background-color: #FFEC84">
                                <td><a href="{% url 'user_detail' user_id=u.id%}">{{ u.name }}</a></td>
                                <td> Análise </td>
                              </tr>
                              {% endif %}
                              {% endfor %}
                            </tbody>
                          </table>
                      </div>
                  </div>
              </div>
</div>

{% endblock %}
