{% extends 'site_functions/base.html' %}

{% block content %}
{% load bootstrap %}
{% load static %}

<br><br><br><br>

<div class="container">
	<div class="row">
		<!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >-->
		<div class="col-md-2"></div>
		<div class="col-md-8" >
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ user.pronome_tratamento }} {{ user.name }}</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<!--<div class="col-md-3 col-lg-3 " align="center">
							<img alt="User Pic" src="{% static 'site_functions/img/default-avatar.png' %}" class="img-circle img-responsive">
						</div>-->
						<div class=" col-md-12 col-lg-12">
							<table class="table table-user-information">
								<tbody>
									<tr>
										<td>Email</td>
										<td>{{ user.email }}</td>
									</tr>
									<tr>
										<td>Telefone</td>
										<td>{{ user.phone }}</td>
									</tr>
									<tr>
										<td>CPF</td>
										<td>{{ user.cpf}}</td>
									</tr>
									{% if user.instituicao %}
										<tr>
											<td>Instituição</td>
											<td>{{ user.instituicao}}</td>
										</tr>
										<tr>
											<td>Curso</td>
											<td>{{ user.curso}}</td>
										</tr>
									{% else %}
										<tr>
											<td>Local de Atuação</td>
											<td>{{ user.local_de_atuacao}}</td>
										</tr>
										<tr>
											<td>Profissão</td>
											<td>{{ user.profissao}}</td>
										</tr>
									{% endif %}
									<tr>
										<td>Certificado</td>
										<td>
									{% if user.certificado != "False" %}

										<a target='_blank' href={% url 'download' path=user.certificado %} class="btn btn-sm btn-warning" >Download</a>
									{% else %}
										Ao final do evento, você poderá realizar<br> o download do seu certificado aqui.<br>
									{% endif %}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			 	<div class="panel-footer">

					<div class="row">
    <div class="col-xs-8 text-left">
      <p>Entre em contato conosco pelo email:  3sippan@gmail.com</p>
    </div>
    <div class="col-xs-4 text-right">
			{% if log.is_admin %}
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CertificateModal">
											Submeter Certificado
											</button>
			{% endif %}
    </div>
</div>



			  	</div>
		  	</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
	<div class="modal fade" id="CertificateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Submeter Certificado</h4>
		  </div>
		  <div class="modal-body">
				<form method="POST" enctype="multipart/form-data" class="post-form" action="{% url 'upload_certificate' user_id=user.id %}">
					{% csrf_token %}
					{{form|bootstrap}}
				<button type="submit" class="save btn btn-default">Submeter</button>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		  </div>
		</div>
	  </div>
	</div>
{% endblock %}
