#cronograma {
	margin-top: 50px;
	background: url(../img/teresina.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px;
}

.titulo {
	color: #e2f9fb;
	font-size: 3em;
}

.cor {
	color: #e2f9fb;
}

.texto-centro {
	text-align: center;
}

.paragrafo {
	font-size: 1.5em;
}

.horario {
	font-weight: bold;
	font-size: 1.2em;
}

.item {
	padding-top: 10px;
	padding-bottom: 10px; 
}

.linha {
	border: 1px solid #212121;
}