#cronograma {
	margin-top: 50px;
	background: url(../img/teresina.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 10px;
}

.titulo {
	color: #e2f9fb;
	font-size: 3em;
}

.cor {
	color: #e2f9fb;
}

.texto-centro {
	text-align: center;
}