@font-face {
	font-family: Offside;
	src: url(../fonts/Offside/Offside-Regular.ttf);
}

#apresentacao {
	margin-top: 50px;
}

#back-apresentacao {
	width: 100%;
}

#sobre {
	font-family: 'Roboto Slab', serif;
	margin-top: -5px;
	background: url(../img/back-sobre.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

#local {
	margin-top: -5px;
	background: #001719;
}

#local-titulo {
	text-align: center;
	color: #e2f9fb;
}

#data-evento {
	font-family: 'helvetica';
	text-align: center;
	font-size: 1.4em;
	color: #e2f9fb;
}

.titulo {
	color: #1adef0;
}

.section_title {
	text-align: center;
	padding: 10px;
	color: #151818;
	font-size: 3.5em;
	font-weight: bold;
	font-family: Offside;
}

.about {
	text-align: justify;
	font-family: 'helvetica';
	color: #151818;
	font-size: 1.5em;
}

.realizacao {
	max-height: 130px;
}

.prex {
	max-height: 180px; 	
}