@font-face {
	font-family: Offside;
	src: url(../fonts/Offside/Offside-Regular.ttf);
}

.font-offside {
	font-family: Offside;
}

#apresentacao {
	height: 100%;
	width: 100%;
	background: url(../img/VSEMPGANV.jpg);
    background-clip: border-box;
    background-size: cover;
    background-position: center center;
}

.div-apresentacao {
	height: 80vh;
	width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
    line-height: 100%;
}

.div-logo {
    max-width: 900px;
    width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
    display: inline-block;
    height: 100%;
}

#logo {
	width: 100%;
	height: 100%;
}

#sobre {
	font-family: 'Roboto Slab', serif;
	margin-top: -5px;
	background: #5bc6d0;
	background-size: cover;
	background-repeat: no-repeat;
}

.divisor {
	width: 100%;
}

.local {
	margin-top: -5px;
	background: #001719;
}

#local-titulo {
	text-align: center;
	color: #e2f9fb;
}

#data-evento {
	font-family: 'helvetica';
	text-align: center;
	font-size: 1.4em;
	color: #e2f9fb;
}

.copo {
	background: url(../img/copo.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.titulo {
	color: #1adef0;
}

.section_title {
	text-align: center;
	padding: 10px;
	color: #151818;
	font-size: calc(30px + 1.5vw);
	font-weight: bold;
	font-family: Offside;
}

.about {
	font-family: 'helvetica';
	color: #151818;
	font-size: 1.5em;
}

.realizacao {
	max-height: 150px;
	margin-top: 20px; 
}

.dpillaser {
	max-height: 120px;
	margin-top: 20px;
}

.prex {
	max-height: 180px; 	
}