@font-face {
	font-family: Offside;
	src: url(../fonts/Offside/Offside-Regular.ttf);
}

#cronograma {
	margin-top: 50px;
	padding: 10px;
}

#form-login {
	padding: 20px;
	background-color: #f5f5f5;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 2px 2px 2px #d0d0d0;
	-webkit-box-shadow: 4px 4px 4px #d0d0d0;
	-moz-box-shadow: 2px 2px 2px #d0d0d0;
}

.titulo {
	font-family: Offside;
	color: #002c30;
	font-weight: bold;
	font-size: 3em;
}

.dia {
	font-family: Offside;
	font-weight: bold;
}

.cor-escura {
	color: #212121;
}

.cor-clara {
	color: #e2f9fb;
}

.texto-centro {
	text-align: center;
}

.paragrafo {
	font-family: 'helvetica';
	font-weight: bold;
	font-size: 1.7em;
}

.horario {
	font-family: 'Roboto Slab', serif;
	font-size: 1.7em;
}

.item {
	padding-top: 10px;
	padding-bottom: 10px; 
}

.linha {
	border: 1px solid #212121;
}

#arte {
	background: url(../img/arte.svg);
	background-size: cover;
}

#sombraclara {
	width: 100%;
	padding: 16px;
	background-color: #949FA0;
	color: #fff;
	
	text-align: center;
	font-weight: bolder;
	font-size: 1.5em;

	box-shadow: 2px 2px 2px #d0d0d0;
	-webkit-box-shadow: 2px 2px 2px #d0d0d0;
	-moz-box-shadow: 2px 2px 2px #d0d0d0;
}